<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">

	<listeners> 
		<listener class-name="com.seleniumJava.utilities.ExtentReport"/>
	</listeners>

  <test name="Test Basics 1">
      <parameter name="browser" value="chrome"/>
      <classes>
      <class name="com.seleniumJava.testCases.TC_LoginTest_001"/>
      </classes>
  </test> <!-- Test --> 
  </suite>